#becas{
    overflow-y: auto;
    height: calc(100vh - 100px);

}

#becas-titulo{
    margin-bottom: 1rem;
    font-size: larger;

}

.text-titulo-beca{
    font-size: 1.4rem;
}

.card-beca{
    min-height: 5rem;
    background-color: rgba(44, 131, 162, 1);
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 10px;
}

.body-card-beca{
    display: flex;
    align-items: center;
}

.text-card-beca{
    display: block;
    text-overflow: ellipsis;
}

.tags-card-becas{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.tags-card-becas > span { 
    margin-right: 5px;
}

.foto-perfil{
    font-size: 3.5rem;
    min-width: 78px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
}

.modal-header-beca{
    text-align: end;
}

.modal-beca-titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: x-large;
}

.foto-modal-beca{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

.modal-beca-titulo .tags-card-becas{
    font-size: medium;
    margin-top: 0px;
}

.descripcion-beca-modal{
    margin-top: 1rem;
}

.modal-footer-beca{
    justify-content: space-between;
    margin-top: 1.5rem;
}

#modal-beca{
    width: 18rem;
    background-color: rgba(44, 131, 162, 1);
    padding: 1rem;
    border-radius: 10px;
    color: white;    
}

.btn-ocultar-beca{
    font-size: medium;
}