@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
ul{
    margin: 0px;
    padding: 0px;
}

.cabecera, .mynavbar{
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: rgb(0, 136, 255);
    max-height: 50px;
}

.cabecera{
    border-bottom: 1px solid gray;
    position: absolute;
    top: 0;
    width: 100vw;
}
.mynavbar{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid gray;
    font-size: x-large;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: gray;
}

.cabecera > li {
    /* border: 1px solid red; */
    width: 50%;
    font-size: xx-large;
    padding: 0.5rem;
}

/* .cabecera > :first-child {
    text-shadow: 1px 1px;
} */

.cabecera > :last-child{
    text-align: end;
}


.mynavbar > li{
    width: 20%;
    text-align: center;
    display: grid;
    /* border: 1px solid red; */
}

.mynavbar span{
    font-size: x-small;
}

#btn-inicio{
    color: rgb(0, 136, 255);
}


#contenido{
    
    /* border: 1px solid red; */
    max-height: calc(100vmax - 100px)/*82.5vh*/;
    margin-top: 50px;
    padding: 0.5rem;

    overflow-y: auto;
}
